
th,td
    {
    border: 3px solid black;
    padding: 10px;
    }
            
td:empty
    {
    padding:40px;
    }

table
{
border-collapse:collapse;
empty-cells: show;
}

table a[href]
{
    color:rgb(0, 17, 255);
    font-weight: bold;
}
       