*{
    
    padding: 0;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

h2
{
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h3
{
    font-size:25px;
    font-style: italic;
}

main ul li
{
    margin-left: 15px;
    list-style-type: square;
} 

body
{
    /*background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255,255,255,0.25)), url('https://lh3.googleusercontent.com/proxy/GUxwQ50KM49ZPQgFlScpnZyy_OwmXY29k4DKUi8Egn7SbgUPExdqfa_hVvMhOKZhmz4LEBsj--0rKYZdaoJKvU2vVx8SA4RlDCpWjssHY8aEGF96FBTlX88CllZUs8TUZT9E7in5sA');
    */
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255,255,255,0.25)), url('https://c1.wallpaperflare.com/preview/312/229/301/food-knife-background-wooden.jpg');
    background-size: 1660px 1000px;
}

a
{
    display: block;
    padding:10px 0;
    color:white;
    text-decoration: none;
}

.Menu
{
    display: flex;
    margin-top: 20px;
    margin: 0;
}

.Menu>li
{
    flex: 1;
    text-align: center;
}

.Menu>li>a
{
    background: linear-gradient(to bottom, #008000, #000);
}

.Menu>li>a:hover
{
    background: linear-gradient(to top, #008000, #000)
}


.Menu>.SubMenu>a
{
    background: linear-gradient(to bottom, #ff0000, #000);
}

.Menu>.SubMenu>a:hover
{
    background: linear-gradient(to top, #ff0000, #000);
}

.Menu>.SubMenu0>a
{
    background: linear-gradient(to bottom, #ff0000, #000);
}

.Menu>.SubMenu0>a:hover
{
    background: linear-gradient(to top, #ff0000, #000);
}

.SubMenuLayout>li>a
{
    background: linear-gradient(to bottom, #00a54a, #000);
}

.SubMenuLayout>li>a:hover
{
    background: linear-gradient(to top, #00a54a, #000);
}

.SubSubMenu-1-Layout>li>a,.SubSubMenu-2-Layout>li>a
{
    background: linear-gradient(to bottom, #5800bd, #000);
}

.SubSubMenu-1-Layout>li>a:hover,.SubSubMenu-2-Layout>li>a:hover
{
    background: linear-gradient(to top, #5800bd, #000);
}

.Menu>li:not(:first-child)
{
    margin-left: 1px;
    
}

.SubMenuLayout>li
{
    margin-top: 1px;
}

.SubSubMenu-1, .SubSubMenu-2
{
    position:relative;
}

.SubSubMenu-1-Layout, .SubSubMenu-2-Layout
{
    position:absolute;
    width: 100%;
    left: 100%;
    top:0;
}

.SubSubMenu-1-Layout>li:not(:first-child)
{
    margin-top: 1px;
}

.SubSubMenu-2-Layout>li:not(:first-child)
{
    margin-top: 1px;
}

.SubSubMenu-1-Layout, .SubSubMenu-2-Layout
{
    margin-left: 1px;
}

.SubMenu>a:after, .SubSubMenu-1>a:after, .SubSubMenu-2>a:after
{
    content:"";
    width: 10px;
    height:10px;
    display:inline-block;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin-left:10px;
    transform: rotate(45deg);
    position: relative;
    transition: 1s transform ease;

}

.SubSubMenu-1>a:after, .SubSubMenu-2>a:after
{
    transform: rotate(315deg);
}

li>a:hover
{
    font-size: 21px;
}

.SubSubMenu-1-Layout, .SubSubMenu-2-Layout, .SubMenuLayout
{
    display: none;
}

.SubMenu:hover .SubMenuLayout, .SubSubMenu-1:hover .SubSubMenu-1-Layout, .SubSubMenu-2:hover .SubSubMenu-2-Layout 
{
    display: block;
}

.SubMenu:hover>a:after
{
    transform: rotate(-135deg);
    top:3px;
}

.SubSubMenu-1:hover>a:after
{
    transform: rotate(225deg);
}

.SubSubMenu-2:hover>a:after
{
    transform: rotate(225deg);
}
/*   */
@media screen and (min-width:500px) and (max-width:1200px)
{
    .Menu
    {
        flex-direction:column;
    }
    .SubMenu, .SubSubMenu-1-Layout, .SubSubMenu-2-Layout
    {
        position: static;
    }
    .Menu>li:not(:first-child)
    {
        margin-left:0;
        margin-top:1px;
    }
    .SubMenuLayout li:nth-child(n)
    {
        margin:1px 0 0 0;
    }
    .SubMenuLayout, .SubSubMenu-1-Layout, .SubSubMenu-2-Layout
    {
        display:block;
        margin:0;
        max-height: 0;
        overflow: hidden;
        transition: 2s all ease;
    }
    .SubMenu:hover .SubMenuLayout,
    .SubSubMenu-1:hover .SubSubMenu-1-Layout,
    .SubSubMenu-2:hover .SubSubMenu-2-Layout
    {
        max-height: 400px;
    }

    div img
    {
        display: block;
        overflow: hidden;
        max-width: 100%;
        height: auto;
    }

}
/*   */
/*Portret si Landscape*/
@media screen
and (min-width: 320px)
and (max-width: 480px)
{
    .Menu
    {
        flex-direction:column;
    }
    .SubMenu, .SubSubMenu-1-Layout, .SubSubMenu-2-Layout
    {
        position: static;
    }
    .Menu>li:not(:first-child)
    {
        margin-left:0;
        margin-top:1px;
    }
    .SubMenuLayout li:nth-child(n)
    {
        margin:1px 0 0 0;
    }
    .SubMenuLayout, .SubSubMenu-1-Layout, .SubSubMenu-2-Layout
    {
        display:block;
        margin:0;
        max-height: 0;
        overflow: hidden;
        transition: 2s all ease;
    }
    .SubMenu:hover .SubMenuLayout,
    .SubSubMenu-1:hover .SubSubMenu-1-Layout,
    .SubSubMenu-2:hover .SubSubMenu-2-Layout
    {
        max-height: 320px;
    }

    
}

#RSA>figure, #RSE>figure, #RCSA>figure
{
    margin-left: 0px;
}

#RSA>h3>a, #RSE>h3>a, #RCSA>h3>a
{
    display:inline;
    color:rgb(4, 0, 255);
}

.grid-container
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    margin-left: 0px;
    padding: 0px;    
}

div img:hover
{
    transform: rotateY(360deg);
    transition: 2s all ease;
}

footer>a
{
    color:rgb(255, 0, 0);
    font-weight: bold;
}

a[href="#Jump"]
{
    color:red;
    font-weight: bold;
}

#log
{
    margin-bottom: 10px;
    text-align: right;
}

a[href^="/log"]
{
    text-decoration: underline;
    color: blue;
}

.afis{
	border:2px solid skyblue;
	padding:0.7em;
}

.templ_bucatar{
	border:1px solid grey;
	padding:0.4em;
}

#container_butoane{
	border:1px solid rgb(66, 93, 245);
	background:linear-gradient(to right, rgba(0,79,240,0.75), rgba(97,240,0,0.75));
	display:flex;
	padding:0.5em;
	flex-wrap:wrap;
	border-radius: 0.5em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	justify-content:center;
	
}
#container_butoane button{
	width:200px;
	margin:0.5em;
    background: linear-gradient(to bottom, #ff8800, #000);
    color:white;
	border:2px solid grey;
	padding:0.3em;
	border-radius: 0.4em;
	min-height:3em;
    transition:all 0.4s linear;

}

#container_butoane button:hover, #calc_varsta:hover{
	background: linear-gradient(to top, #ff8800, #000);
	box-shadow: rgb(43, 5, 255);
}

#calc_varsta{
    width:200px;
    height:35px;
	margin:0.5em;
    background: linear-gradient(to bottom, #ff8800, #000);
    color:white;
	border:2px solid grey;
	padding:0.3em;
	border-radius: 0.4em;
    transition:all 0.4s linear;
}

#container_butoane #stop
{
    width:200px;
	margin:0.5em;
    background: linear-gradient(to bottom, red, #000);
    color:white;
	border:2px solid grey;
	padding:0.3em;
	border-radius: 0.4em;
	min-height:3em;
    transition:all 0.4s linear;
}

#container_butoane #stop:hover
{
    background: linear-gradient(to top, red, #000);
	box-shadow: rgb(43, 5, 255);
}

.selectat
{
    background:#6fe679; 
}

#container_info h2{
	font-size:1.3em;
}
#container_info{
	margin:0 auto;				
	width:50%;
}

#info{
	overflow-y:scroll;
	height:100%;
	height:300px;
	width:100%;
	border:1px solid black;
	
}