*{
    
    padding: 0;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

body
{
    background:#ffffff;
    background-image: url('https://lh3.googleusercontent.com/proxy/GUxwQ50KM49ZPQgFlScpnZyy_OwmXY29k4DKUi8Egn7SbgUPExdqfa_hVvMhOKZhmz4LEBsj--0rKYZdaoJKvU2vVx8SA4RlDCpWjssHY8aEGF96FBTlX88CllZUs8TUZT9E7in5sA');
    background-size: 1660px 750px;
}

a
{
    display: block;
    padding:10px 0;
    color:white;
    text-decoration: none;
}

.Menu
{
    display: flex;
    margin-top: 20px;
    margin: 0;
    
}

.Menu>li
{
    flex: 1;
    text-align: center;
    
}

.Menu>li>a
{
    background: linear-gradient(to bottom, #008000, #000);
}

.Menu>li>a:hover
{
    background: linear-gradient(to top, #008000, #000)
}


.Menu>.SubMenu>a
{
    background: linear-gradient(to bottom, #ff0000, #000);
}

.Menu>.SubMenu>a:hover
{
    background: linear-gradient(to top, #ff0000, #000);
}

.Menu>.SubMenu0>a
{
    background: linear-gradient(to bottom, #ff0000, #000);
}

.Menu>.SubMenu0>a:hover
{
    background: linear-gradient(to top, #ff0000, #000);
}

.SubMenuLayout>li>a
{
    background: linear-gradient(to bottom, #00a54a, #000);
}

.SubMenuLayout>li>a:hover
{
    background: linear-gradient(to top, #00a54a, #000);
}

.SubSubMenu-1-Layout>li>a,.SubSubMenu-2-Layout>li>a
{
    background: linear-gradient(to bottom, #5800bd, #000);
}

.SubSubMenu-1-Layout>li>a:hover,.SubSubMenu-2-Layout>li>a:hover
{
    background: linear-gradient(to top, #5800bd, #000);
}

.Menu>li:not(:first-child)
{
    margin-left: 1px;
    
}

.SubMenuLayout>li
{
    margin-top: 1px;
    
}

.SubSubMenu-1, .SubSubMenu-2
{
    position:relative;
}

.SubSubMenu-1-Layout, .SubSubMenu-2-Layout
{
    position:absolute;
    width: 100%;
    left: 100%;
    top:0;
}

.SubSubMenu-1-Layout>li:not(:first-child)
{
    margin-top: 1px;
}

.SubSubMenu-2-Layout>li:not(:first-child)
{
    margin-top: 1px;
}

.SubSubMenu-1-Layout, .SubSubMenu-2-Layout
{
    margin-left: 1px;
}

.SubMenu>a:after, .SubSubMenu-1>a:after, .SubSubMenu-2>a:after
{
    content:"";
    width: 10px;
    height:10px;
    display:inline-block;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin-left:10px;
    transform: rotate(45deg);
    position: relative;
    transition: 1s transform ease;

}

.SubSubMenu-1>a:after, .SubSubMenu-2>a:after
{
    transform: rotate(315deg);
}

li>a:hover
{
    font-size: 21px;
}

.SubSubMenu-1-Layout, .SubSubMenu-2-Layout, .SubMenuLayout
{
    display: none;
}

.SubMenu:hover .SubMenuLayout, .SubSubMenu-1:hover .SubSubMenu-1-Layout, .SubSubMenu-2:hover .SubSubMenu-2-Layout 
{
    display: block;
}

.SubMenu:hover>a:after
{
    transform: rotate(-135deg);
    top:3px;
}

.SubSubMenu-1:hover>a:after
{
    transform: rotate(225deg);
}

.SubSubMenu-2:hover>a:after
{
    transform: rotate(225deg);
}
/*   */
@media screen and (min-width:480px) and (max-width:700px)
{
    .grid-container>.grid-item
    {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto auto auto;

    grid: 50%;
    max-width: 100%;
    margin-left: 0px;
    padding: 0px;    
    }
    .Menu
    {
        flex-direction:column;
    }
    .SubMenu, .SubSubMenu-1-Layout, .SubSubMenu-2-Layout
    {
        position: static;
    }
    .Menu>li:not(:first-child)
    {
        margin-left:0;
        margin-top:1px;
    }
    .SubMenuLayout li:nth-child(n)
    {
        margin:1px 0 0 0;
    }
    .SubMenuLayout, .SubSubMenu-1-Layout, .SubSubMenu-2-Layout
    {
        display:block;
        margin:0;
        max-height: 0;
        overflow: hidden;
        transition: 2s all ease;
    }
    .SubMenu:hover .SubMenuLayout,
    .SubSubMenu-1:hover .SubSubMenu-1-Layout,
    .SubSubMenu-2:hover .SubSubMenu-2-Layout
    {
        max-height: 400px;
    }

}
/*   */
/*Portret si Landscape*/
@media screen
and (min-width: 320px)
and (max-width: 480px)
{
    .grid-container
    {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto auto;

        grid: 50%;
        max-width: 100%;
        margin-left: 0px;
        padding: 0px;     
    }
    .Menu
    {
        flex-direction:column;
    }
    .SubMenu, .SubSubMenu-1-Layout, .SubSubMenu-2-Layout
    {
        position: static;
    }
    .Menu>li:not(:first-child)
    {
        margin-left:0;
        margin-top:1px;
    }
    .SubMenuLayout li:nth-child(n)
    {
        margin:1px 0 0 0;
    }
    .SubMenuLayout, .SubSubMenu-1-Layout, .SubSubMenu-2-Layout
    {
        display:block;
        margin:0;
        max-height: 0;
        overflow: hidden;
        transition: 2s all ease;
    }
    .SubMenu:hover .SubMenuLayout,
    .SubSubMenu-1:hover .SubSubMenu-1-Layout,
    .SubSubMenu-2:hover .SubSubMenu-2-Layout
    {
        max-height: 320px;
    }

}

#RSA>figure, #RSE>figure, #RCSA>figure
{
    margin-left: 0px;
}

#RSA>h3>a, #RSE>h3>a, #RCSA>h3>a
{
    display:inline;
    color:rgb(4, 0, 255);
}

.grid-container
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    margin-left: 0px;
    padding: 0px;    
}

footer>a
{
    color:rgb(255, 0, 0);
    font-weight: bold;
}

a[href="#Jump"]
{
    color:red;
    font-weight: bold;
}