<!DOCTYPE html>
<html lang="en">
<head>
	<title>Page 404</title>

	<meta charset="utf-8">
	<meta name="author" content="Andronie Iustinian"/>
    <link rel="stylesheet" type="text/css" href="../../Resurse/CSS/Style.css"/>
    <link rel='icon' href='../../Resurse/Imagini/favicon4.ico' type='image/x-icon'/>
</head>
<body class="container">
    <%- include('../fragmente/header') %>
<main>

    <div class="afisaj">
        <h1>404: Page not Found</h1>    
    </div>
</main>
<%- include('../fragmente/footer') %>

</body>
</html>  